[submodule "RTOS/cpp-httplib"]
	path = RTOS/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "RTOS/websocketpp"]
	path = RTOS/websocketpp
	url = https://github.com/zaphoyd/websocketpp
